@model List<Product>

@foreach (var item in Model)
{
    <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="img/product-list/pro-1.jpg" alt="" />
                <a href="#" class="adtocart">
                    <i class="icon-shopping-cart"></i>
                </a>
            </div>

            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        @item.ProductName
                    </a>
                </h4>
                <p class="price">@item.UnitPrice</p>
            </div>
        </section>
    </div>

}